/* Body */

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header" "main" "aside" "footer";
}

/* Main */

main {
    padding: 1rem;
    grid-area: main;
}

.Index {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.menu {
    margin-top: 2rem;
    margin-bottom: 2rem;
}