/* Footer */

footer {
    margin: 1rem;
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    li{
        margin-right: 1rem;
        list-style: none;
    }
}
