/* Tamaño de Fuentes e Imagenes globales */
@import "./variables";

*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    color: $color-primary;
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    margin-top: 2rem;
}
h2 {
    margin-top: 2rem;
}
h3 {
    margin: 2rem;
}
p{
    margin: 1rem;
}
a {
    margin: 1rem;
    text-align: center;
}

img {
    height: 250px;
    width: 300px;
    border-radius: 1rem;
}