*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    color: #dee2e6;
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

header {
    grid-area: header;
}
main {
    padding: 1rem;
    grid-area: main;
}
aside {
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-area: aside;
}

footer {
    margin: 1rem;
    grid-area: footer;
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
}
li{
    margin-right: 1rem;
    list-style: none;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header" "main" "aside" "footer";
}

h1 {
    margin: 1rem;
}
h2 {
    margin: 2rem;
}
h3 {
    margin: 2rem;
}
p{
    margin: 1rem;
}
img {
    height: 280px;
    width: 400px;
    border-radius: 1rem;
}

#logo:hover {
    transform: rotate(360deg);
    transition: ease;
    transition-duration: 2s;
}

.enlace-Evento {
    font-size: x-large;
    font-weight: bold;
    color: #212529; 
    text-decoration: none;
}
.Index {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.menu {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.Productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.Productos_item {
    margin-top: 2rem;
    text-align: center;
}
.transform {
    color: #dee2e6;
}
.transform:hover {
    transform: translate(80px);
    transition: 2s;
}
.card-link {
    color: #212529;
}
.form-control {
    border: solid;
    border-radius: 1rem;
}

@media (min-width:768px){ 
    html {
        font-size: 100%;
    }
    body {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "header header header"
        "main main aside"
        "footer footer footer";
    }
    .Nosotros, .Contacto {
        grid-template-areas: "header header header"
        "main main main"
        "footer footer footer";
    }

}

@media (min-width:1024px){ 
    body {
        grid-template-rows: auto;
    }
    img{
        height: 500px;
        width: 600px;
    }
    .transform:hover {
        transform: translate(400px);
        transition: 2s;
    }
}